body {
	color: #FFF;
	font-size: 15px;
	margin: 0;
	background: url(https://images8.alphacoders.com/627/627080.png) no-repeat center center fixed;
	background-size: cover;
}

/********************
		HEADER
********************/


.navbar {
	margin-bottom: 0;
	border-radius: 8px 8px 0 0;
	width: 92%;
	margin: auto;
}

.header-nav a i {
	font-size: 20px;
}

.navbar-default {
	background-color: #292929;
	border: 0;
	border-bottom: 2px solid #292929;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #1F1F1F;
	color: #fff;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
	padding-top: 22px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #A9A9A9;
}

/*
 Środek
*/

.header-down {
	max-height: 250px;
	width: 100%;
	padding: 30px 0;
}

.header-down .image {
	margin: auto;
	width: 30%;
}


/*
 Panel użytkownika TOP
*/

.nav-panel .navbar-default{
	width: 100%;
	background-color: #1F1F1F;
	border-bottom: 3px solid #292929;
	border-radius: 0;
}

.nav-panel .navbar-default ul{
	list-style: none;
	margin: 0;
	float: right;
}

.nav-panel .navbar-default ul li{
	float: left;
}

.nav-panel .navbar-default .box{
	width: 95%;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}

.nav-panel .notifications {
	width: 25px;
	padding: 0.1%;
	position: absolute;
	right: 0%;
	top: 5px;
	border-radius: 100%;
	background-color: #333;
	text-align: center;
}

.navbar-nav > li > .dropdown-menu {
	position: absolute;
	margin-left: -250px;
}

.dropdown {
	background-color: #333;
	color: #FFF;
	padding: 1%;
	max-height: 300px;
	overflow: scroll;
	overflow-x: hidden;
}

.dropdown-menu > li > a {
	color: #fff;
	width: 400px;
	white-space: normal;
	padding: 15px 10px;
	border-bottom: 1px solid #191919;
}

.dropdown-menu > li > a .date {
	font-size: 12px;
	display: block;
}


/********************
		DEFAULTS
********************/

section h2 {
	margin-bottom: 40px;
	text-align: center;
}

a, a:link, a:visited{
	text-decoration: none;
	color: #888;
	font-weight: bold;
}

a:hover {
	color: #FFF;
}

.content {
	background-color: #333;
	border: 4px solid #292929;
	width: 92%;
	margin: auto;
}

.padding {
	padding: 3% 1%;
}


.input-style {
	padding: 1.5% 1%;
	background-color: #1F1F1F;
	color: #FFF;
	border: 0;
	outline: none;
}


.dark-layer {
	background-color: rgba(0,0,0, 0.25);
	width: 100%;
	position: fixed;
	z-index: -2;
	height: 100%;
}

.border {
	border: 3px solid #292929;	
}

.red {
	font-weight: bold;
	color: #A13838 !important;
}

.radius {
	border-radius: 8px;
}

.space-l {
	margin: 5px 0;
}

.space {
	height: 10px;
	width: 10px;
}

.btn-d {
	background-color: #1F1F1F;
	color: #FFF;
	padding: 1% 2%;
	border: 0;
}

.btn-d:hover {
	background-color: #292929;
	color: #FFF;
	padding: 1% 2%;
	border: 0;
}

.line {
	height: 3px;
	background-color: #292929;
}

.subject  {
	background-color: #292929;
	padding: 10px 20px;
	font-size: 20px;
	margin: auto;
	outline: none;
}

/********************
		OTHER
********************/

.cke_chrome {
	border: 0 !important;
}

.pagination > li > a, .pagination > li > span {
	background-color: #191919;
	border: 1px solid #1F1F1F;
	color: #FFF;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #FFF;
	color: #333;
	border-color: #1F1F1F;
}

/********************
		FORUM
********************/

#forum {
	width: 100%;
}

#forum .departments {
	width: 100%;
}

#forum .tile {
	border: 1px solid rgba(255,255,255, 0.1);
	padding: 10px;
	width: 255px;
	float: left;
	margin: 10px;
}

#forum .title {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	font-weight: normal;
	color: #fff !important;
}

#forum .icon {
	font-size: 55px;
	text-align: center;
}

#forum .tile p {
	font-size: 13px;
	margin-top: 20px;
}

#forum .sidebar {
	width: 96%;
	margin: auto;
	height: 360px;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #1F1F1F;
	border: 6px solid #292929;
}


#forum .last_post {
	padding: 5px;
	margin: 4px 0;
	border-bottom: 3px solid #292929;
}
#forum .last_post:nth-last-child(2) {
	margin: 0;
	border-bottom: 0;
}

#forum .last_post .author {
	font-size: 14px;
	color: #888;
}

#forum .last_post .date {
	font-size: 13px;
	color: #888;
}

#forum .last_post .title {
	text-align: left;
	color: #888;
	line-height: 15px;
	font-size: 15px;
}

#forum .last_post .box1 {
	float: left;
	width: 170px
}

#forum .last_post .box2 {
	float: left;
	width: auto;
}

#forum .line  {
	margin-top: 2%;
}



#stream {
	margin-top: 2%;
}

/********************
		Threads
********************/

#threads .info {
	background-color: #191919;
	padding: 8px;
}

#threads .info .long {
	width: 70%;
	float: left;
}

#threads .info  .short {
	width: 6.5%;
	margin-left: 0.5%;
	float: left;
	text-align: center;
}

#threads .info  .date {
	width: 14%;
	margin-left: 0.5%;
	float: left;
	text-align: right;
}

.topic {
	border: 1px solid #444;
	background-color: #292929;
}

.topic:hover {
	background-color: #191919;
}

.topic .title {
	width: 100%;
}

.topic .author {
	width: 100%;
	font-size: 13px;
	margin-top: 5px;
	color: #888;
}

.topic .long {
	width: 70%;
	float: left;
	border-right: 2px solid #444;
	padding: 10px 0;
}

.topic .short {
	width: 14%;
	margin-left: 0.5%;
	float: left;
	border-right: 2px solid #444;
	text-align: center;
	padding: 21.5px 0;
}


.topic .views {
	width: 7%;
}

.topic .replies {
	width: 7%;
}

.topic .last_data{
	text-align: right;
	border: 0;
	padding: 0;
	padding-top: 10px;
}


#topic .btn-d {
	margin-top: 10px;
}
/* Post */

.row_post .like {
	
}

.row_post {
	margin: 3% 0;
	background-color: #292929;
	border-radius: 8px;
	border-color: #191919;
}

.row_post .message {
	width: auto;
	float: left;
	padding: 20px;
	padding-top: 45px;
	min-height: 350px;
}

.row_post .profile {
	float: left;
	width: 220px;
}

.row_post .img {
	padding: 10px 0;
	width: 100%;
}

.row_post .author {
	width: 220px;
	float: left;
}

.row_post .date {
	width: 60%;
	font-size: 13px;
	float: left;
	margin-left: 5%;
}

.row_post .topbar {
	background-color: #191919;
	padding: 15px 0;
}

#topic .subject {
	margin-bottom: 50px;
	padding: 2%;
	border-bottom: 1px solid #888;
	font-size: 14px;
}

#login {
	padding: 10% 0;
}

.login_form {
	width: 50%;
	margin: auto;
	padding: 4% 3%;
	background-color: #1F1F1F;
	padding-bottom: 6%;
}

.login_form input {
	width: 100%;
	display: block;
	padding: 1.5% 2%;
	font-size: 18px;
	background-color: #333;
	border: 0;
	margin: 10px 0;
	border-radius: 8px;
	outline: none;
}

.login_form button {
	margin-left: 45%;
	font-size: 18px;
	border: 0;
	background-color: #333;
	border-radius: 8px;
	color: #FFF;
	padding: 1% 2%;
}

.login_form button:hover {
	background-color: #292929;
}

#newtopic select {
	background-color: #1F1F1F;
	padding: 0.5% 1%;
}

#newtopic .subject {
	width: 100%;
	padding: 0.5%;
	background-color: #1F1F1F;
	border: 0;
	text-align: left;
}

/********************
		Register FORM
*********************/

#register form {
	width: 60%;
	margin: auto;
	padding: 1%;
}

#register .input-style {
	margin: 5px 0;
}

#register button {
	margin-top: 15px;
}

#register .info {
	width: 60%;
	margin: auto;
	font-size: 13px;
	margin-top: 15px;
}


/********************
		Footer
*********************/

#footer {
	background-color: #191919;
	height: auto;
}


/********************
		Panel
********************/

#panel .info {
	font-size: 18px;
	width: auto;
	float: left;
	padding-top: 20px;
}


#panel .photo {
	width: 300px;
	float: left;
}

#panel .info-detail {
	width: 100%;
}

#panel .save {
	margin-top: 40px;
}

#panel span {
	color: #888;
}

#panel .option_row {
	margin: 3% 0;
}

#panel .tile {
	border: 1px solid rgba(255,255,255, 0.4);
	padding: 1%;
	width: 48%;
	float: left;
	text-align: center;
	margin-left: 2%;
	margin-top: 2%;
	height: 150px;
	padding-top: 30px;
}

#panel .tile i {
	font-size: 45px;
	margin-bottom: 10px;
}

#panel .row-ranga {
	height: 30px;
	margin-bottom: 20px;
	background-color: #191919;
	padding: 0;
}

#panel .perc-status {
	height: 100%;
	background-color: red;
	margin: 0;
}

#panel .limit {
	border: 1px solid #191919;
	width: 100%;
	text-align: center;
	line-height: 30px;
}

#panel .row-ranga span {
	position: absolute;
	z-index: 2;
	left: 49%;
	color: #fff;
	top: 15%;
	font-weight: bold;
}

#panel .current-rank {
	float: left;
}

#panel .next-rank {
	float: right;
}

#panel .rank img{
	width: 130px;
}

#change {
	width: 60%;
	padding: 12% 0;
	margin: auto;
}

#change input{
	margin-top: 10px;
}

#change .btn-d {
	margin-top: 1%;
	margin-left: 46%;
}

#avatar {
	width: 60%;
	margin: auto
}


#message-box .list {
	background-color: #191919;
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}

#message-box .list .user {
	padding: 20px 15px;
}

#message-box .messages {
	padding: 20px 15px;
	background-color: #292929;
	height: 500px;
	border: 1px solid #191919;
	overflow: scroll;
	overflow-x: hidden;
}

#message-box .msg {
	padding: 10px;
	border-radius: 15px;
	background-color: #191919;
	margin-top: 10px;
	float: left;
	width: auto;
}

#message-box .my {
	background-color: #444;
	float: right;
	width: auto;
}

#message-box .message-form .btn-d {
	margin-top: 25px;
	margin-left: 40px;
}

#message-box .message-form {
	margin-top: 10px;
}

#message-box .message-form .area{
	background-color: #191919;
	border-radius: 10px;
	min-height: 100px;
	padding-top: 15px;
}

#message-box textarea{
	background-color: transparent;
	border: 0;
	resize: none;
	outline: none;
	min-height: 100px;
}


#message-box .info{
	background-color: #191919;
	padding: 15px;
}


#message-box .person{
	background-color: #444;
	padding: 15px;
}

#message-box .topbar{
	padding: 15px;
	margin-bottom: 20px;
}

#newmessage .space {
	margin: 6px 0;
}

.profile-bg {
	width: 50%;
	height: 500px;
	border-radius: 7px;
	border: 5px solid #191919;
	background-color: #292929;
	position: fixed;
	z-index: 1000;
	display: none;
	padding: 15px;
	top: 25%;
	left: 25%;
}


